<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>App</title>
		<link rel="stylesheet" href="{{url 'css/app.css'}}">
	</head>
	<body>
		<header>
			<h1>App</h1>
		</header>
		<section class="app">
			<img src="{{url 'images/js-logo-badge-512.png'}}">
		</section>
		<script src="{{url 'js/app.js'}}"></script>
	</body>
</html>